<div class="x_panel mt-5">
  <div class="x_title">
    <h2><%= @lab.lab_name %></h2>
    <div class="clearfix"></div>
  </div>
  <div class="x_content">
    <table class="table">
        <tbody>
            <tr>
                <th scope="row">Laboratory Name</th>
                <td><%= @lab.lab_name %></td>
            </tr>
            <tr>
                <th scope="row">Department Name</th>
                <td><%= Department.find(@lab.department_id).department_name %></td>
            </tr>
            <tr>
                <th scope="row">Administrator Name</th>
                <td><%= Administrator.find(@lab.administrator_id).name %></td>
            </tr>
            <tr>
                <th scope="row">Equipment Count</th>
                <td><%= @lab.equipment.count %></td>
            </tr>
            <tr>
                <th scope="row">Components Count</th>
                <td><%= @lab.components.count %></td>
            </tr>
            <tr>
                <th scope="row">Created At</th>
                <td><%= @lab.created_at.strftime("%Y-%m-%d") %></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <div class="clearfix"></div>
    <%= link_to 'Back', labs_index_path, class: 'btn btn-warning rounded-pill float-right' %>
    <%= link_to '<i class="fa fa-trash-o"></i> Delete' .html_safe,
                      lab_path(@lab.id), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
                      class: 'btn btn-danger rounded-pill float-left' %>
    <%= link_to '<i class="fa fa-pencil-square-o"></i> Edit' .html_safe,
                    edit_lab_path(@lab.id), class: 'btn btn-info rounded-pill float-left' %>
</div>