<h1>Components</h1>
<div class="x_panel">
  <div class="x_title">
    <h2>Details</h2>
    <div class="clearfix"></div>
  </div>
  <div class="x_content">
  <div class='table-responsive'>
    <% if @components.length==0 %>
      <p>No Components Present</p>
      <% else %>
        <table class="table table-sm" id="datatable-buttons">
          <caption>List of all Components</caption>
          <thead>
            <tr>
              <th scope="col">
                <%= link_to 'Components <i class="fa fa-caret-down" aria-hidden="true"></i>'.html_safe , :sort=> 'component_name' %>
              </th>
              <th scope="col">
                Quantity 
              </th>
              <th scope="col">
                Unit
              </th>
              <th scope="col">
                Laboratory 
              </th>
              <th scope="col">
                Room 
              </th>
              <th scope="col">
                Returnable 
              </th>
              <th scope="col">
                Remarks 
              </th>
              <th scope="col">
                <%= link_to 'Created At <i class="fa fa-caret-down" aria-hidden="true"></i>'.html_safe , :sort=> 'created_at' %>
              </th>
              <th scope="col" class="text-center">
                Actions
              </th>
            </tr>
          </thead>
          <tbody>
            <% @components.each do |component| %>
              <% if component.lab.department.id.to_s == current_administrator.department_id.to_s || current_administrator.role_id == 3 %>
                  <tr>
                    <td>
                      <%= component.component_name %>
                    </td>
                    <td>
                      <%= component.quantity %>
                    </td>
                    <td>
                      <%= Unit.find(component.unit_id).unit_name %>
                    </td>
                    <td>
                      <%= Lab.find(component.lab_id).lab_name %>
                    </td>
                    <td>
                      <%= Room.find(component.room_id).room_name %>
                    </td>
                    <td>
                      <%= component.returnable %>
                    </td>
                    <td>
                      <%= component.remarks %>
                    </td>
                    <td>
                      <%= component.created_at.strftime("%Y-%m-%d") %>
                    </td>
                    <td class="text-center">
                      <%= link_to '<i class="fa fa-eye"></i> View'.html_safe, component_path(component),class: 'mr-3 text-info' %>|
                      <%= link_to '<i class="fa fa-pencil-square-o pull-right"></i> Edit' .html_safe,
                        edit_component_path(component), class: 'mr-3 ml-3 text-warning' %>|
                        <%= link_to '<i class="fa fa-trash-o pull-right"></i> Delete' .html_safe,
                          component_path(component), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
                          class: 'ml-3 text-danger' %>
                    </td>
                  </tr>
                <% end %>
              <% end %>
          </tbody>
        </table>
        <% end %>
    </div>