<tbody>
    <tr>
      <th scope="row"><%= equipment.id %></th>
      <td><%= equipment.equipment_name %></td>
      <td><%= equipment.make %></td>
      <td><%= equipment.serial_number %></td>
      <td><%= equipment.model_number %></td>
      <td><%= equipment.status %></td>
      <td><%= equipment.remarks %></td>
      <td><%= Room.find(equipment.room_id).room_name %></td>
      <td><%= equipment.created_at.strftime("%Y-%m-%d") %></td>
      <td><%= link_to '<i class="fa fa-eye"></i> View'.html_safe, equipment_path(equipment),class: 'mr-3 text-info' %></td>
    </tr>
  </tbody>