<%= form_with model: [@lab, @lab.equipment.build ] do |f| %>
  <div class="row">
    <div class="col">
      <%= f.text_field :equipment_name, class: 'form-control rounded border-primary', placeholder: 'Equipment Name', :required => true %>
    </div>
    <div class="col">
      <%= f.text_field :make, class: 'form-control rounded border-primary', placeholder: 'Make', :required => true %>
    </div>
    <div class="col">
      <%= f.text_field :serial_number, class: 'form-control rounded border-primary', placeholder: 'Serial Number', :required => true %>
    </div>
    <div class="col">
      <%= f.text_field :model_number, class: 'form-control rounded border-primary', placeholder: 'Model Number', :required => true %>
    </div>
    <div class="col">
      <%= f.text_field :status, class: 'form-control rounded border-primary', placeholder: 'Status', :required => true %>
    </div>
    <div class="col">
      <%= f.text_field :remarks, class: 'form-control rounded border-primary', placeholder: 'Remarks', :required => true %>
    </div>
    <div class="col">
      <%= f.collection_select :room_id, Room.order(:room_name),:id,:room_name, { include_blank: "Room" }, { class: "form-control rounded" } %>
    </div>
    <div class="col-auto">
      <%= f.submit nil, :class => 'btn btn-primary rounded-pill' %>
      <%= link_to 'Back', department_path(@lab.department_id), class: 'btn btn-warning rounded-pill' %>
    </div>
  </div>
<% end %>

