<%= form_with model: [@lab, @lab.equipment.build ] do |f| %>
  <p>
    <%= f.label :equipment_name %><br>
    <%= f.text_field :equipment_name %>
  </p>
  <p>
    <%= f.label :make %><br>
    <%= f.text_field :make %>
  </p>
  <p>
    <%= f.label :serial_number %><br>
    <%= f.text_field :serial_number %>
  </p>
  <p>
    <%= f.label :model_number %><br>
    <%= f.text_field :model_number %>
  </p>
  <p>
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </p>
  <p>
    <%= f.label :remarks %><br>
    <%= f.text_field :remarks %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>