<h1>Equipment</h1>
<div class="x_panel">
  <div class="x_title">
    <h2>Details</h2>
    <ul class="nav navbar-right panel_toolbox">
      <li><input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for equipment ..."
          title="Type in a equipment name" class="form-control form-control-sm rounded border-info"></li>
          <li><i class="fa fa-search pt-2 pl-2 text-info" aria-hidden="true"></i></li>
    </ul>
    <div class="clearfix"></div>
  </div>
  <div class="x_content">

    <% if @equipment.length==0 %>
      <p>No Equipment Present</p>
      <% else %>
        <table class="table table-sm" id="myTable">
          <caption>List of all Equipment</caption>
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">
                <%= link_to 'Equipment <i class="fa fa-caret-down" aria-hidden="true"></i>'.html_safe , :sort=> 'equipment_name' %>
              </th>
              <th scope="col">
                Make 
              </th>
              <th scope="col">
                Serial No.
              </th>
              <th scope="col">
                Model No. 
              </th>
              <th scope="col">
                <%= link_to 'Status <i class="fa fa-caret-down" aria-hidden="true"></i>'.html_safe , :sort=> 'status' %>
              </th>
              <th scope="col">
                Remarks
              </th>
              <th scope="col">
                Laboratory
              </th>
              <th scope="col">
                <%= link_to 'Created At <i class="fa fa-caret-down" aria-hidden="true"></i>'.html_safe , :sort=> 'created_at' %>
              </th>
              <th scope="col" class="text-center">
                Actions
              </th>
            </tr>
          </thead>
          <tbody>
            <% @equipment.each do |equipment| %>
              <tr>
                <th scope="row">
                  <%= equipment.id %>
                </th>
                <td>
                  <%= equipment.equipment_name %>
                </td>
                <td>
                  <%= equipment.make %>
                </td>
                <td>
                  <%= equipment.serial_number %>
                </td>
                <td>
                  <%= equipment.model_number %>
                </td>
                <td>
                  <%= equipment.status %>
                </td>
                <td>
                  <%= equipment.remarks %>
                </td>
                <td>
                  <%= Lab.find(equipment.lab_id).lab_name %>
                </td>
                <td>
                  <%= equipment.created_at.strftime("%Y-%m-%d") %>
                </td>
                <td class="text-center">
                  <%= link_to '<i class="fa fa-eye"></i> View'.html_safe, equipment_path(equipment),class: 'mr-3 text-info' %>|
                  <%= link_to '<i class="fa fa-pencil-square-o pull-right"></i> Edit' .html_safe,
                    edit_equipment_path(equipment), class: 'mr-3 ml-3 text-warning' %>|
                    <%= link_to '<i class="fa fa-trash-o pull-right"></i> Delete' .html_safe,
                      equipment_path(equipment), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
                      class: 'ml-3 text-danger' %>
                </td>
              </tr>
              <% end %>
          </tbody>
        </table>
        <% end %>

          <script>
            function myFunction() {
              var input, filter, table, tr, td, i, txtValue;
              input = document.getElementById("myInput");
              filter = input.value.toUpperCase();
              table = document.getElementById("myTable");
              tr = table.getElementsByTagName("tr");
              for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                  txtValue = td.textContent || td.innerText;
                  if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                  } else {
                    tr[i].style.display = "none";
                  }
                }
              }
            }
          </script>