<h1><%= @equipment.equipment_name %></h1>

<p><%= @equipment.make %></p>
<p><%= @equipment.serial_number %></p>
<p><%= @equipment.model_number %></p>
<p><%= @equipment.status %></p>
<p><%= @equipment.remarks %></p>