<div class="x_panel">
  <div class="x_title">
    <h2>Department details</h2>
    <div class="clearfix"></div>
  </div>
  <div class="x_content">
    <br />
    <%= form_with model: @department, :html=> {:class => 'form-horizontal form-label-left'} do |f| %>
      <div class="item form-group">
        <%= f.label :department_name, "Department Name*" , class: 'col-form-label col-md-3 col-sm-3 label-align' %>
          <div class="col-md-6 col-sm-6 ">
            <%= f.text_field :department_name, class: 'form-control rounded' , placeholder: 'Department Name' ,
              :required=> true %>
          </div>
      </div>
      <div class="item form-group">
        <%= f.label :administrator_id, "Administrator Name*" , class: 'col-form-label col-md-3 col-sm-3 label-align' %>
          <div class="col-md-6 col-sm-6 ">
           <%= f.collection_select :administrator_id, Administrator.order(:name),:id,:name, { include_blank: "Select Administrator" }, { class: "form-control rounded" } %>
          </div>
      </div>
      <div class="item form-group">
        <%= f.label :location, "Location" , class: 'col-form-label col-md-3 col-sm-3 label-align' %>
          <div class="col-md-6 col-sm-6 ">
            <%= f.text_field :location, class: 'form-control rounded' , placeholder: 'Location' %>
          </div>
      </div>
      <div class="item form-group">
        <%= f.label :description, "Description" , class: 'col-form-label col-md-3 col-sm-3 label-align' %>
          <div class="col-md-6 col-sm-6 ">
            <%= f.text_field :description, class: 'form-control rounded' , placeholder: 'Description' %>
          </div>
      </div>
      <div class="ln_solid"></div>
      <div class="item form-group">
        <div class="col-md-6 col-sm-6 offset-md-3">
          <%= link_to 'Cancel' , departments_table_index_path, class: 'btn btn-warning rounded-pill' %>
          <%= f.submit nil, :class=> 'btn btn-primary rounded-pill' %>
        </div>
      </div>
      <% end %>
  </div>
</div>