<!-- top tiles -->
<div class="row">
  <div class="tile_count col-auto">
    <div class="col-md-3 col-md-3  tile_stats_count" style="overflow: visible;">
      <span class="count_top"><i class="fa fa-building-o"></i> Total  Departments</span>
      <div class="count"><%= @departments.count %></div>
    </div>
    <div class="col-md-2 col-md-3  tile_stats_count" style="overflow: visible;">
      <span class="count_top"><i class="fa fa-flask"></i> Total Number Labs </span>
      <div class="count"><%= Lab.count %></div>
    </div>
    <div class="col-md-2 col-md-3  tile_stats_count" style="overflow: visible;">
      <span class="count_top"><i class="fa fa-home"></i> Total Number Rooms </span>
      <div class="count"><%= Room.count %></div>
    </div>
    <div class="col-md-2 col-md-3  tile_stats_count" style="overflow: visible;">
      <span class="count_top"><i class="fa fa-cubes"></i> Total Number Equipment</span>
      <div class="count green"><%= Equipment.count %></div>
    </div>
  </div>
</div>
<!-- /top tiles -->
<br>
<div class="x_panel">
  <div class="x_title">
    <h2></i> Departments </h2>
    <ul class="nav navbar-right panel_toolbox">
    <% if current_administrator.role_id == 3 %>
      <%= link_to '<i class="fa fa-plus pull-right"></i> New Department' .html_safe, new_department_path %>
    <% end%>
    </ul>
    <div class="clearfix"></div>
  </div>
  <div class="x_content">
    <div class="row">
      <% @departments.each do |department| %>
            <div class="col-sm-6 mt-3">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title text-info">
                    <%= department.department_name %>
                  </h5>
                  <p class="card-text">
                    <%= department.location %>
                  </p>
                  <p class="card-text">
                    <%= department.created_at.strftime("%Y-%m-%d") %>
                  </p>
                  <% if department.id.to_s == current_administrator.department_id.to_s || current_administrator.role_id == 3 %>
                      <%= link_to "Open" , department, class: 'btn btn-info' %>
                      <ul class="nav navbar-right panel_toolbox pt-3" style="font-size:13px;">
                        <%= link_to '<i class="fa fa-eye"></i> Details'.html_safe, departments_table_path(department),class: 'mr-3 text-primary' %>|
                        <%= link_to '<i class="fa fa-pencil-square-o pull-right"></i> Edit' .html_safe,
                          edit_department_path(department), class: 'ml-3 text-warning' %>
                      </ul>
                  <% else %>
                      <h6>Administrator:</h6> 
                      <div class='text-primary'><%= Administrator.find(department.administrator_id).name if department.administrator_id %></div>
                    <% end %>
                </div>
              </div>
            </div>
        <% end %>
    </div>
  </div>