<h1>Laboratories</h1>
<div class="x_panel">
  <div class="x_title">
    <h2>Details</h2>
    <ul class="nav navbar-right panel_toolbox">
      <li><input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for laboratory ..."
          title="Type in a laboratory name" class="form-control form-control-sm rounded border-info"></li>
          <li><i class="fa fa-search pt-2 pl-2 text-info" aria-hidden="true"></i></li>
    </ul>
    <div class="clearfix"></div>
  </div>
  <div class="x_content">

  <div class='table-responsive'>
    <% if @labs.length==0 %>
      <p>No Laboratories Present</p>
      <% else %>
        <table class="table table-sm" id="myTable">
          <caption>List of all Laboratories</caption>
          <thead>
            <tr>
              <th scope="col">
                <%= link_to 'Laboratory <i class="fa fa-caret-down" aria-hidden="true"></i>'.html_safe , :sort=> 'lab_name' %>
              </th>
              <th scope="col">
                Department 
              </th>
              <th scope="col">
                Administrator 
              </th>
              <th scope="col">
                <%= link_to 'Created At <i class="fa fa-caret-down" aria-hidden="true"></i>'.html_safe , :sort=> 'created_at' %>
              </th>
              <th scope="col">
                Equipment Count
              </th>
              <th scope="col">
                Components Count
              </th>
              <th scope="col" class="text-center">
                Actions
              </th>
            </tr>
          </thead>
          <tbody>
            <% @labs.each do |lab| %>
                <% if lab.department.id.to_s == current_administrator.department_id.to_s || current_administrator.role_id == 3 %>
                  <tr>
                    <td>
                      <%= lab.lab_name %>
                    </td>
                    <td>
                      <%= Department.find(lab.department_id).department_name if lab.department_id  %>
                    </td>
                    <td>
                      <%= Administrator.find(lab.administrator_id).name if lab.administrator_id  %>
                    </td>
                    <td>
                      <%= lab.created_at.strftime("%Y-%m-%d") %>
                    </td>
                    <td>
                      <%= lab.equipment.count %>
                    </td>
                    <td>
                      <%= lab.components.count %>
                    </td>
                    <td class="text-center">
                      <%= link_to '<i class="fa fa-eye"></i> View'.html_safe, show_lab_path(lab),class: 'mr-3 text-info' %>|
                      <%= link_to '<i class="fa fa-pencil-square-o pull-right"></i> Edit' .html_safe,
                        edit_lab_path(lab), class: 'mr-3 ml-3 text-warning' %>
                      <% if current_administrator.role_id == 3 %>
                        |<%= link_to '<i class="fa fa-trash-o pull-right"></i> Delete' .html_safe,
                          lab_path(lab), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
                          class: 'ml-3 text-danger' %>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              <% end %>
          </tbody>
        </table>
        <% end %>
      </div>

          <script>
            function myFunction() {
              var input, filter, table, tr, td, i, txtValue;
              input = document.getElementById("myInput");
              filter = input.value.toUpperCase();
              table = document.getElementById("myTable");
              tr = table.getElementsByTagName("tr");
              for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                  txtValue = td.textContent || td.innerText;
                  if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                  } else {
                    tr[i].style.display = "none";
                  }
                }
              }
            }
          </script>