<!DOCTYPE html>
<html>
  <head>
    <title>Inventory Managment</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_include_tag 'https://kit.fontawesome.com/fae26408c7.js' %>
    
    <%= stylesheet_link_tag 'bootstrap.min', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'jquery.mCustomScrollbar.min', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'animate.min', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    
    <%= javascript_importmap_tags %>

    <!-- Custom Theme Style -->
    <%= stylesheet_link_tag 'custom.min', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <% unless current_administrator %>
    <%= render partial: 'shared/messages' %>
    <%= yield %>
  <% end %>

  <% if current_administrator %>
    <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col menu_fixed">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <%= link_to '<i class="fa fa-book"></i> | Inventory' .html_safe, departments_path, class: 'site_title' %>
            </div>

            <div class="clearfix"></div>

            <!-- sidebar menu -->
              <%= render partial: 'layouts/navigation/sidebar_menu' %>
            <!-- /sidebar menu -->

        <!-- top navigation -->
            <%= render partial: 'layouts/navigation/top_navbar' %>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
        <%= render partial: 'shared/messages' %>
          <div class="container">
            <%= yield %>
          </div>
        </div>
        <!-- /page content -->
      </div>
    </div>
    <!-- footer content -->
            <%= render partial: 'layouts/navigation/footer' %>
        <!-- /footer content -->

    <!-- jQuery -->
    <%= javascript_include_tag 'jquery.min', 'data-turbolinks-track': 'reload' %>
    <!-- Bootstrap -->
    <%= javascript_include_tag 'bootstrap.bundle.min', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'datatables.min', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'pdfmake.min', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'vfs_fonts', 'data-turbolinks-track': 'reload' %>


    <style>
      .dataTables_filter {
          width: auto;   
          }
    </style>

    <!-- Custom Theme Scripts -->
    <%= javascript_include_tag 'custom.min', 'data-turbolinks-track': 'reload' %>
  </body>
  <% end %>
</html>
